*
{
    font-family: 'Roboto', sans-serif;
}

#gra
{
    margin-left: auto;
    width: 80vw;
}

#wspolrzedne_y
{
    float: left;
}

#szachownica
{
    width: 40vw;
    height: 40vw;
    padding: 0px;
    margin: 0px;
    float: left;
}

#przyciski
{
    width: 30vw;
    float: left;
}

#notacja
{
    width: 30vw;
    clear: both;
}

#wprowadzanie_FEN_div
{
    margin: auto;
    width: 80vw;
}

#wprowadzanie_FEN
{
    width: 60vw;
}

#zatwierdz_FEN
{
    width: 30vw;
    margin-left: 20vw;
    text-align: center;
}

#bledny_FEN
{
    color: red;
    text-align: center;
    width: 30vw;
    margin-left: 20vw;
}

#wynik_gry
{
    text-align: center;
    font-size: 40px;
    color: red;
}

.pole
{
    padding: 0px;
    margin: 0px;
    margin-top: -5px;
    float: left;
}

.przycisk
{
    text-align: center;
    width: 20vw;
    margin-top: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.wspolrzedna_x
{
    text-align: center;
    float: left;
}

.wspolrzedna_y
{
    text-align: center;
}

.nazwa
{
    font-size: 50px;
    text-align: center;
}

.bierka_zdj
{
    position: absolute;
}